<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item active" href="#"> Dashboard </a>
        <a class="list-group-item" href="#"> Mis Ordenes </a>
        <a class="list-group-item" href="#"> Editar Perfil </a>
        <a class="list-group-item" href="#"> Cambiar Password </a>
        <a class="list-group-item" href="#"> Mi venta de productos </a>
        <a class="list-group-item" href="#"> Ordenes recibidas </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Salir de sesion</span> </a>
    <!--   SIDEBAR .//END   -->
</aside>